@use './abstracts/breakpoints' as b;
@use './abstracts/mixins' as m;
@use './abstracts/variables' as v;

html {
  background: var(--bg-body);
  color: var(--cl-text);
  font-size: v.$font__size--default;
  font-family: v.$font__family;
  scrollbar-width: thin;
  scrollbar-color: var(--bg-body) var(--bg-second);
}

a {
  &:hover {
    color: var(--cl-accent-alt);
  }
}

body {
  display: grid;
  grid-template-columns: 360px minmax(0, 1fr);
  gap: 1em;
  max-width: 100vw;
  min-height: 100dvb;
  font-weight: 400;

  @include b.max(lg) {
    display: block;
  }
}

.sidebar {

  @include m.flex-center();
  flex-direction: column;
  gap: 1em;

  height: 100dvb;
  position: sticky;
  top: 0;

  padding-inline: calc(2.5rem * 1);

  background-color: var(--bg-second);
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid var(--cl-border);

  @include b.max(lg){
    position: fixed;
    max-width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);

    &--active {
      transform: translateX(0%);
    }
  }
}

.brand {
  @include m.reset-p-m();
  @include m.flex-center();
  flex-direction: column;
  gap: 1em;
  overflow: hidden;

  &__pic{
    @include m.width-height(200px, 200px);
    display: block;
    overflow: hidden;

    border: 3px solid var(--cl-accent);
    box-shadow: var(--shadow-md);
    
    border-radius: 50%;
  }

  &__img {
    @include m.width-height(100%, 100%);
    object-fit: contain;
  }

  &__caption {
    @include m.flex-center();
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }

  &__title {
    font-size: v.$font__size--4xl;
    font-weight: 600;
    color: var(--cl-title);
    text-shadow: var(--text-shadow-md);
  }
  
  &__social {
    @include m.flex-center();
    gap: 1em;
  }
  
  &__link {
    color: var(--cl-accent);
    text-decoration: none;
  }

  &__description {
    @include m.reset-p-m();
    font-size: v.$font__size--3xs;
    color: var(--cl-muted);
    padding: 1.5em;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  padding: calc(1.5rem * 0.5);
  box-shadow: var(--shadow-md);
  border-top: 2px solid var(--cl-accent);

  &__link {
    @include m.flex-between();
    text-decoration: none;
    color: inherit;
    width: 260px;
    margin-block: 0.3em;
    padding-bottom: 0.4em;
    color: var(--cl-title);

    &::after {
      content: "\23F9";
      font-family: unset;
    }

    &--active {
      color: var(--cl-accent);
    }
  }
}
// ============= HEADER 
.header {
  @include m.flex-between();
  height: 4rem;
  padding-inline: calc(1.4rem * 0.8);

  &__form {
    width: 80%;

    .search {
      @include m.flex-center();
      gap: 0.5em;
      border: 2px solid var(--cl-border);
      border-radius: 50em;
      padding: 0.4em 2em;

      &__input{
        width: 100%;
        background-color: transparent;
        border: none;
        color: var(--cl-muted);
        outline: none;
        &::placeholder {
          color: var(--cl-muted);
        }
      }
    }
  }
}

// ============= MAIN

.main {

  .content {
    padding: calc(1.5rem * 0.7);
    max-width: 60ch;
    margin: 0 auto;

    &--hero {
      text-align: center;
    }
  }
}