@use './abstracts/breakpoints' as b;
@use './abstracts/mixins' as m;
@use './abstracts/variables' as v;

html {
  background: var(--bg-body);
  color: var(--cl-text);
  font-size: v.$font__size--default;
  font-family: v.$font__family;
}

body {
  display: grid;
  grid-template-columns: 320px 60px 1fr;
  grid-template-rows: auto auto;
  gap: 8px 8px;
  grid-auto-flow: row;
  grid-template-areas:
    'profile navbar main'
    'profile navbar footer';
  max-width: 1200px;
  min-height: 100dvb;

  padding: 0 calc(1.5rem * 0.5);
  margin: 0 auto;
}

.profile {
  grid-area: profile;


  position: sticky;
  top: 0;
  height: 100dvb;
  margin: 0;
  padding-top: 2rem;
  border-radius: 1rem;

  overflow: hidden;
  background-color: var(--bg-overlay);
  border: 3px solid var(--bg-overlay);
  
  &__picture {
    display: block;
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    overflow: hidden;
    border: 3px solid var(--bg-overlay);
    border-radius: inherit;
  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  &__description,
  &__caption {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  &__title {
    display: block;
    font-size: v.$font__size--5xl;
    margin-block: 0.75rem;
  }

  &__tagline {
    font-size: v.$font__size--sm;
  }

  &__description {
    margin: 1rem auto;
    font-size: v.$font__size--3xs;
    max-width: 30ch;
  }

  &__social {
    @include m.flex-center();
    gap: 8px;
    margin-bottom: 1rem;
  }

  &__cta {
    @include m.flex-between();
    border-top: 3px solid var(--cl-border);
    width: 320px;
  }
}

// NAVBAR & NAV
.navbar {
  grid-area: navbar;
  position: sticky;
  top: 0;
  height: 100dvb;
  overflow-y: auto;
  scrollbar-width: none;
  background-color: var(--bg-overlay);
  border: 3px solid var(--bg-overlay);
  border-radius: 1rem;
}

.nav {
  @include m.flex-center();
  flex-direction: column;
  margin: 0;
  padding: 1rem 0;
  gap: 0.4em;
  list-style: none;
}

.main {
  grid-area: main;
  max-width: 80ch;
  padding: 0 calc(1.5rem * 0.5);
  margin: 0 auto;
  background-color: var(--bg-overlay);
}

.footer {
  grid-area: footer;
}
