@use './abstracts/breakpoints' as b;
@use './abstracts/mixins' as m;
@use './abstracts/variables' as v;

.btn {
  @include m.transition(transform);
  display: inline-block;
  background-color: var(--bg-second);
  border: 2px solid var(--cl-border);
  border-radius: 50em;
  padding: 0.5em 1em;
  box-sizing: var(--shadow-md);

  &:hover {
    transform: translateY(-2px);
  }
}