@use './abstracts/breakpoints' as b;
@use './abstracts/mixins' as m;
@use './abstracts/variables' as v;

.btn {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  border: 2px solid var(--cl-border-alt);
  border-radius: 0.25em;
  padding: 0.4em 0.8em;
  font-size: v.$font__size--xl;

  &--icon {
    @include m.flex-center;
    width: 40px;
    height: 40px;
  }

  &--tooltip {

    .btn__text {
      display: none;
    }
  }

  &--cta {
    border: unset;
    font-size: v.$font__size--md;
    border-radius: 0;
    padding: 0.75em;
  }
}