---
import '../styles/global.css'
import Sidebar from '../components/Sidebar.astro'
import TopBar from '../components/TopBar.astro'
import Footer from '../components/Footer.astro'

import { SITE_PARAMS } from '../../site.config'
---

<!doctype html>
<html lang="en" class="bg-zinc-900 text-[15px] text-zinc-300">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body class="grid lg:grid-cols-[20rem_minmax(0,1fr)]">
    <Sidebar />
		<div class="max-w-full">
			<TopBar inMobile={true} />
			<slot />
			<Footer />
		</div>
    <script src="../script/main.js"></script>
	</body>
</html>
