<figure class="brand">
  <picture class="brand__pict">
    <img src="{{ site.Params.logo }}" alt="{{ site.Params.author }}" class="brand__img">
  </picture>
  <figcaption class="brand__caption">
    <strong class="brand__title">{{ site.Params.author }}</strong>
    <blockquote class="brand__description">
      {{ site.Params.description }}
    </blockquote>
    <nav class="brand__social">
      {{ range site.Menus.social }}
        <a href="{{ .URL | relURL }}" class="brand__link">{{ .Name }}</a>
      {{ end }}
    </nav>
  </figcaption>
</figure>

{{ partial "components/menu.html" (dict "menuID" "main" "page" .) }}