---
import { Icon } from 'astro-icon/components';
---

<div class="tab">
  {/*  */}
  <button data-tab-mobile="tabMobile" class="tab__mobile">
    <Icon name="icon-bars-arrow-down" class="tab__icon tab__icon--open" />
    <Icon name="icon-bars-arrow-up" class="tab__icon" />
  </button>

  {/*  */}
	<div class="tab__control" id="tabMobile">
    <button class="tab__button tab__button--active" data-tab="readTab">Read</button>
		<button class="tab__button" data-tab="discussionTab">Discussion</button>
		<button class="tab__button" data-tab="historyTab">History</button>
		<button class="tab__button" data-tab="searchTab">Search</button>
	</div>
  
  {/*  */}
	<div class="tab__contain markdown">
		<div class="tab__content tab__content--active" id="readTab"><slot name="readTab" /></div>
		<div class="tab__content" id="discussionTab"><slot name="discussionTab" /></div>
		<div class="tab__content" id="historyTab"><slot name="historyTab" /></div>
		<div class="tab__content" id="searchTab"><slot name="searchTab" /></div>
	</div>
</div>

<style>
  @reference '../styles/global.css';

  .tab {
    @apply px-5 pt-5 lg:px-10;
  }

  .tab__mobile {
    @apply z-40;
  }

  .tab__icon {
    @apply hidden;
  }

  .tab__icon--open {
    @apply block;
  }

  .tab__control {
    @apply border border-zinc-800 hidden;
  }

  .tab__control--active {
    @apply grid;
  }

  .tab__content {
    @apply hidden;
  }

  .tab__content--active {
    @apply block;
  }
</style>
<script is:inline>
</script>