---
import { getCollection } from 'astro:content'
import { SIDEBAR } from '../../sidebar.config'
import { Icon } from 'astro-icon/components'
import { relUrl } from '../utils/url'

import TopBar from './TopBar.astro'

const docs = await getCollection('docs')
const getSidebarDocs = docs.filter(doc => doc.data.sidebar)

// Ubah docs jadi array dengan info minimal
const docItems = getSidebarDocs.map(doc => ({
	id: doc.id === 'home' ? relUrl('/') : relUrl(doc.id),
	title: doc.data.title,
	group: doc.data.sidebar?.group || 'Ungrouped',
	order: doc.data.sidebar?.order ?? 0
}))

// Kelompokkan dokumen ke grup berdasarkan SIDEBAR
const grouped: Record<string, { items: typeof docItems }> = {}

for (const group of SIDEBAR) {
	// ambil dokumen yang termasuk group ini
	const itemsInGroup = docItems
		.filter(item => item.group === group.label)
		.sort((a, b) => a.order - b.order)

	grouped[group.label] = {
		items: itemsInGroup
	}
}
---

<aside
id="offcanvas"
	class="fixed top-0 left-0 z-50 h-dvh w-2xs overflow-y-auto bg-zinc-900 p-4 transition-all duration-300 ease-in-out lg:visible lg:sticky lg:translate-none"
>
	<TopBar inMobile={false} />
	<nav class="grid pt-4">
		{
			Object.entries(grouped).map(([groupName, { items }]) => (
				<ul class="text-sm">
					<li class="mt-4 mb-2 border-b border-b-zinc-800 pb-2">
						<strong class="text-zinc-50">{groupName}</strong>
					</li>
					{items.map(item => {
						const isActive = Astro.url.pathname === relUrl(item.id)
						return (
							<li>
								<a
									class={`flex w-full p-1 text-shadow-black text-shadow-sm hover:text-white ${isActive ? 'text-white' : 'text-zinc-400'}`}
									href={item.id}
								>
									{item.title}
								</a>
							</li>
						)
					})}
				</ul>
			))
		}
	</nav>
</aside>
