@use './abstracts/mixins' as m;
@use './abstracts/variables' as v;

body {
  font-family: v.$font__family--body;
  font-size: v.$font__size--default;
  
  background-color: v.$cl__bg;
  color: v.$cl__text;
}