<ul class="nav" id="menuButton">
  <li class="nav__item">

    <button class="btn btn--icon" data-sidebar="sidebar">
      <i class="bi bi-x btn__icon"></i>
      <span class="btn__text">Close Sidebar</span>
    </button>

  </li>
  <li class="nav__item">

    <button class="btn btn--icon" data-modal="searchBar">
      <i class="bi bi-search btn__icon"></i>
      <span class="btn__text">Search</span>
    </button>

  </li>
  <li class="nav__item">

    <button class="btn btn--icon" id="switchTheme">
      <i class="bi bi-moon-stars btn__icon"></i>
      <span class="btn__text">Switch Themes</span>
    </button>

  </li>
</ul>