@use '../abstracts/breakpoints' as b;
@use '../abstracts/mixins' as m;

.menu {
  padding: 0.25rem 0.5rem;
  background-color: var(--color-bg-default);
  border: 2px solid var(--color-border-default);
  border-radius: 0.5rem;

  &__item {
    margin-block: 0.5rem;
  }

  &__link {
    @include m.flex-justify(start, center);
    gap: 0.5rem;
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    font-size: var(--text-xl);
    font-weight: 700;
    color: var(--color-text-title);

    &--active,
    &--ancestor {
      background-color: var(--color-accent);
      border-color: var(--color-border-default);
      color: var(--color-text-title);
    }
  }
}

#TableOfContents {
  ul {
    padding-inline-start: 1rem;
    color: var(--color-text-muted);
    
    ul {
      border-left: 1px solid var(--color-border-default);
    }
  }

  a {
    border-bottom: 1px dashed transparent;
    display: inline-block;
    font-size: var(--text-sm);
    @include m.text-ellipsis;
    @include m.transition(color, border-bottom-color);

    &.isActive {
      color: var(--color-accent);
      border-bottom-color: var(--color-accent);
    }
  }
}
