@use '../abstracts/breakpoints' as b;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.search-bar {
  @include m.transition(visibility, opacity);
  @include m.width-height(80dvw, 40dvh);
  position: fixed;
  inset-inline-start: 50%;
  inset-block-start: 10%;
  transform: translateX(-50%);
  background-color: var(--color-bg-second);
  border-radius: 0.25rem;
  border: 1px solid var(--color-border-default);
  box-shadow: var(--color-shadow-default);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: 700;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &.isOpen {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &__wrapper {
    @include m.flex-justify(center, center);
    gap: 1rem;
    position: relative;
    padding: 0.5rem 1rem;
  }

  &__form {
    @include m.flex-justify(start, center);
    width: 100%;
    gap: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-bg-default);
  }

  &__input {
    outline: none;
    flex: 1;
    border: none;
    background: transparent;
    color: inherit;
    font-size: 1rem;
  }

  &__close {
    background: transparent;
    border: none;
    cursor: pointer;

    .bi {
      @include m.width-height(1.5rem, 1.5rem);
    }
  }

  &__results-wrapper {
    overflow-y: auto;
    flex: 1;
    padding: 0 1rem 1rem;
    margin-top: 1rem;
  }

  @include b.min(lg){
    width: 50dvw;
  }
}
