@use '../abstracts/breakpoints' as b;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.layout {
  display: block;

  @include b.min(lg) {
    display: grid;
    grid-template-areas:
      'header header header'
      'sidebar-left content content'
      'sidebar-left footer footer';
    grid-template-columns: 21rem minmax(0, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  @include b.min(xl) {
    grid-template-areas:
      'header header header'
      'sidebar-left content sidebar-right'
      'sidebar-left footer sidebar-right';
    grid-template-columns: 21rem minmax(0, 1fr) 21rem;
  }
}

[data-btn-theme] {
  .bi-moon-stars {
    display: none;
  }

  &.darkIsActive {
    .bi-moon-stars {
      display: flex;
    }

    .bi-sun {
      display: none;
    }
  }
}

.main {
  padding-inline: 1rem;
  margin-block-start: 10dvh;

  @include b.min(lg) {
    grid-area: content;
    padding-inline: 2rem;
  }
}

.bottom-bar {
  @include m.flex-justify(space-around, center);
  width: 100%;
  position: fixed;
  inset-block-end: 1rem;
  inset-inline-start: 0;
  z-index: 400;

  &__btn {
    padding: 1rem;
    background-color: var(--color-bg-second);
    box-shadow: var(--color-shadow-default);
    border: 1px solid var(--color-border-default);
    border-radius: 0.25rem;
    color: var(--color-text-title);
  }

  @include b.min(lg){
    display: none;
  }
}

.overlay {
  @include m.full-screen;
  @include m.transition(visibility, opacity);
  background-color: var(--color-bg-overlay);
  visibility: hidden;
  opacity: 0;
  z-index: 500;

  &.isActive {
    visibility: visible;
    opacity: 1;
  }
}
