---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"

const getAllTags = async () => {
  const projects = await getCollection('projects');
  const blogs = await getCollection('blog');
  const combine = [...projects, ...blogs]

  const tagsWithCount = {}

  combine.forEach(item =>{
    const tags = item.data.tags || [];
    
    tags.forEach(tag =>{
      tagsWithCount[tag] = (tagsWithCount[tag] || 0) +1;
    })
  })

  return Object.entries(tagsWithCount)
};

const tags = await getAllTags();

const meta = {
  pageTitle: 'Tags',
  description: 'Testing Tags Description'
}
---

<BaseLayout metaPage={meta}>
  <ul>
    {
      tags.map(([item, count]) => (
        <li>
          <a href={`${item}/`}>{item} {`(${count})`}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
