---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"

const getAllCategories = async () => {
  const projects = await getCollection('projects');
  const blogs = await getCollection('blog');

  const combine = [...projects, ...blogs]
  const getCategories = combine.flatMap(item => item.data.categories || [])
  const categories = [...new Set(getCategories.sort())]

  return categories
}

const category = await getAllCategories()

const meta = {
  pageTitle: 'Category',
  description: 'Testing Category Description'
}
---

<BaseLayout metaPage={meta}>
  <ul>
    {
      category.map(item => (
        <li>
          <a href={`${item}/`}>{item}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
