---
import BaseLayout from "../../layouts/BaseLayout.astro"
import { getCollection } from "astro:content"

const getAllCategoriesWithCount = async () => {
  const projects = await getCollection('projects');
  const blogs = await getCollection('blog');
  const combine = [...projects, ...blogs];

  const categoryCount = {};

  combine.forEach(item => {
    const categories = item.data.categories || [];

    categories.forEach(cat => {
      categoryCount[cat] = (categoryCount[cat] || 0) + 1;
    });
  });

  return Object.entries(categoryCount);
};

const category = await getAllCategoriesWithCount()
console.log('🚀 ===== LOG ===== 🚀:\n', category);

const meta = {
  pageTitle: 'Category',
  description: 'Testing Category Description'
}
---

<BaseLayout metaPage={meta}>
  <ul>
    {
      category.map(([name, count]) => (
        <li>
          <a href={`${name}/`}>{name} ({count})</a>
        </li>
      ))
    }
  </ul>

</BaseLayout>
