$dark: (
  color-bg-default: #18181b,
  color-bg-second: #27272a,
  color-bg-overlay: rgba(0, 0, 0, 0.8),

  color-border-default: #3f3f46,
  color-border-second: #52525b,

  color-text-default: #e4e4e7,
  color-text-title: #fafafa,
  color-text-muted: #d4d4d8,

  color-accent: #a855f7,
  color-accent-hover: #c084fc,

  color-alert-text-info: #93c5fd,
  color-alert-text-success: #86efac,
  color-alert-text-warning: #fde047,
  color-alert-text-danger: #fca5a5,
  color-alert-text-error: #fbcfe8,
  color-alert-text-note: #5eead4,

  color-alert-bg-info: #1d4ed810,
  color-alert-bg-success: #15803d10,
  color-alert-bg-warning: #a1620710,
  color-alert-bg-danger: #b91c1c10,
  color-alert-bg-error: #be185d10,
  color-alert-bg-note: #0f766e10,

  color-shadow-default: '1px 3px 2px rgba(0, 0, 0, 0.5)',
  color-shadow-hover: '2px 4px 4px rgba(0, 0, 0, 0.3)',

  color-text-shadow-default: '2px 3px 1px rgba(0, 0, 0, 0.8)',
  color-text-shadow-hover: '3px 4px 2px rgba(0, 0, 0, 0.5)',
);
