$dark: (
  color-bg-default: #18181b,
  color-bg-second: #27272a,
  color-bg-overlay: rgba(0, 0, 0, 0.8),

  color-border-default: #3f3f46,
  color-border-second: #52525b,

  color-text-default: #e4e4e7,
  color-text-title: #fafafa,
  color-text-muted: #d4d4d8,

  color-accent: #a855f7,
  color-accent-hover: #c084fc,

  color-link-external: #60a5fa,
  color-link-external-hover: #93c5fd,
  
  color-link-broken: #f43f5e,
  color-link-broken-hover: #fb7185,

  color-shadow-default: '1px 3px 2px rgba(0, 0, 0, 0.3)',
  color-shadow-hover: '2px 4px 4px rgba(0, 0, 0, 0.1)',

  color-text-shadow-default: '1px 1px 2px rgba(0, 0, 0, 0.8)',
  color-text-shadow-hover: '3px 4px 2px rgba(0, 0, 0, 0.5)',
);
