$light: (
  color-bg-default: #f4f4f5,
  color-bg-second: #e4e4e7,
  color-bg-overlay: rgba(0, 0, 0, 0.5),

  color-border-default: #d4d4d8,
  color-border-second: #a1a1aa,
  
  color-text-default: #27272a,
  color-text-title: #09090b,
  color-text-muted: #3f3f46,

  color-accent: #7c3aed,
  color-accent-hover: #8b5cf6,
  
  color-alert-text-info: #1d4ed8,
  color-alert-text-success: #15803d,
  color-alert-text-warning: #a16207,
  color-alert-text-danger: #b91c1c,
  color-alert-text-error: #be185d,
  color-alert-text-note: #0f766e,

  color-alert-bg-info: #1d4ed820,
  color-alert-bg-success: #15803d20,
  color-alert-bg-warning: #a1620720,
  color-alert-bg-danger: #b91c1c20,
  color-alert-bg-error: #be185d20,
  color-alert-bg-note: #0f766e20,

  color-shadow-default: "1px 3px 4px rgba(0, 0, 0, 0.2)",
  color-shadow-hover: "2px 4px 6px rgba(0, 0, 0, 0.05)",

  color-text-shadow-default: "1px 1px 2px rgba(0, 0, 0, 0.2)",
  color-text-shadow-hover: "3px 3px 4px rgba(0, 0, 0, 0.05)",
);