$light: (
  bg-body: #f9fafb,
  bg-second: #f3f4f6,
  bg-third: #e5e7eb,

  cl-text: #27272a,
  cl-title: #111827,
  cl-muted: #3f3f46,

  cl-accent: #f59e0b,
  cl-accent-alt: #facc15,

  cl-border: #d1d5db,
  cl-border-alt: #9ca3af,

  shadow-sm: '0 1px 2px 0 rgba(0, 0, 0, 0.05),',
  shadow-md: '0 4px 6px -1px rgba(0, 0, 0, 0.1)',
  shadow-lg: '0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.05)',

  text-shadow-sm: '0 1px 1px rgba(0, 0, 0, 0.5)',
  text-shadow-md: '0 2px 4px rgba(0, 0, 0, 0.4)',
  text-shadow-lg: '0 4px 8px rgba(0, 0, 0, 0.3)',
);
