---
import BaseLayout from '../layouts/BaseLayout.astro'
import Prose from '../components/Prose.astro'
import ListNotes from '../components/ListNotes.astro'

import { capitalizeEachWord } from '../utils'
import { getCollection } from 'astro:content'
export async function getStaticPaths() {
	const posts = await getCollection('vaults')

	// Ambil semua tag unik
	const tagSet = new Set()
	for (const post of posts) {
		for (const tag of post.data.tags || []) {
			tagSet.add(tag)
		}
	}

	return Array.from(tagSet).map(tag => ({
		params: { tag }
	}))
}

let { tag } = Astro.params
if (Array.isArray(tag)) {
	tag = tag[0]
}
tag = typeof tag === 'string' ? tag : String(tag)
const posts = await getCollection('vaults')
const filteredPosts = posts.filter(post => post.data.tags?.includes(tag as string))
---

<BaseLayout>
	<main class="mx-auto px-4 md:px-10">
		<Prose className="prose-h1:font-normal mb-10">
			<h1 class="block border-b border-dashed border-b-neutral-700 pb-2">{capitalizeEachWord(tag)}</h1>
			<ListNotes
				items={filteredPosts.sort(
					(a, b) => new Date(b.data.date || 0).getTime() - new Date(a.data.date || 0).getTime()
				)}
			/>
		</Prose>
	</main>
</BaseLayout>
