---
import BaseLayout from '../layouts/BaseLayout.astro'
import Prose from '../components/Prose.astro'
import { render, getCollection } from 'astro:content'

export async function getStaticPaths() {
	const blogPosts = await getCollection('vaults')
	return blogPosts.map((post: any) => ({
		params: {
			slug: post.id
		},
		props: { post }
	}))
}

const { post } = Astro.props
const { Content } = await render(post)
---

<BaseLayout>
	<main class="px-4 md:px-8">
		<Prose className="prose-a:text-blue-500">
			<article>
				<Content />
			</article>
		</Prose>
	</main>
</BaseLayout>
