---
import BaseLayout from '../assets/layouts/BaseLayout.astro'
import NavContent from '../assets/components/NavContent.astro'

import { getCollection } from 'astro:content'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
	const docs = await getCollection('docs')

	return [
		...docs.map(doc => ({
			params: { discussion: `/Discussion-In=${doc.id}` },
			props: { doc }
		}))
	]
}) satisfies GetStaticPaths

const { doc } = Astro.props
---

<BaseLayout>
	<main class="max-w-full overflow-x-hidden">
		<div class="px-2">
      <NavContent entry={doc} activeIn="discussionPage" />
      <aside class="markdown border border-zinc-800 px-2 min-h-dvh">
        <h1>Talk In: {doc.data.title}</h1>
      </aside>
		</div>
	</main>
</BaseLayout>
