---
import type { GetStaticPaths } from 'astro'
import { render, getCollection } from 'astro:content'
import historyMap from '../data/historyMap.json'
import BaseLayout from '../assets/layouts/BaseLayout.astro'
import TabContent from '../assets/components/TabContent.astro'

export const getStaticPaths = (async () => {
  const docs = await getCollection('docs')
  return [
    ...docs.map(doc => ({
      params: { slug: doc.id === 'home' ? '/' : doc.id },
      props: { doc },
    })),
  ]
}) satisfies GetStaticPaths

const { doc } = Astro.props
const { slug } = Astro.params
const { Content } = await render(doc)

// =================================== //
const filePath = doc.filePath ? `./${doc.filePath}` : '';
const history = doc.filePath && historyMap[doc.filePath as keyof typeof historyMap]
  ? historyMap[doc.filePath as keyof typeof historyMap]
  : [];
---

<BaseLayout>
  <div>
    <TabContent docs={doc}>
      <div slot="readTab">
        <Content />
      </div>
    </TabContent>
  </div>
</BaseLayout>