---
import BaseLayout from '../assets/layouts/BaseLayout.astro'
import NavContent from '../assets/components/NavContent.astro'

import { getCollection } from 'astro:content'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
	const docs = await getCollection('docs')

	return [
		...docs.map(doc => ({
			params: { discussion: `/Discussion-In=${doc.id}` },
			props: { doc }
		}))
	]
}) satisfies GetStaticPaths

const { doc } = Astro.props
---

<BaseLayout>
	<main class="max-w-full overflow-x-hidden">
		<NavContent entry={doc}/>
		<article class="markdown">
      In Discussion
		</article>
	</main>
</BaseLayout>
