---
import BaseLayout from '../assets/layouts/BaseLayout.astro'
import NavContent from '../assets/components/NavContent.astro'

import { getCollection } from 'astro:content'
import type { GetStaticPaths } from 'astro'

export const getStaticPaths = (async () => {
	const docs = await getCollection('docs')

	return [
		...docs.map(entry => ({
			params: { history: `/History-In=${entry.id}/` },
			props: { entry }
		}))
	]
}) satisfies GetStaticPaths

const { entry } = Astro.props
---

<BaseLayout>
	<main class="max-w-full overflow-x-hidden">
		<article class="px-2">
      <NavContent entry={entry} activeIn="historyPage" />
      <section class="markdown border border-zinc-800 px-2 min-h-dvh">
        <h1>History In: {entry.data.title}</h1>
      </section>
		</article>
	</main>
</BaseLayout>

