---
import { Image } from 'astro:assets'
import { SiteConfig } from '../siteConfig'
import { getCollection } from 'astro:content'
import { sortPost } from '../utils/sortPost.js'

import Prose from '../components/Prose.astro'
import Base from '../layouts/Base.astro'
import FeaturedNotes from '../components/FeaturedNotes.astro'

const getAllPosts = await getCollection('vaults')
const notes = getAllPosts.filter((i) => i.data.type !== 'Projects')
const projects = getAllPosts.filter((i) => i.data.type === 'Projects')

const newPosts = sortPost(notes, 'newPosts')
const lastUpdate = sortPost(notes, 'lastUpdate')
const newProjects = sortPost(projects, 'newPosts', 2)
---

<Base>
	<Prose>
		<header
			class="mx-auto mt-40 flex max-w-5xl flex-col items-center gap-3.5 px-3.5 md:flex-row md:justify-between"
		>
			<picture
				class="my-10 block w-1/2 overflow-hidden rounded-lg shadow-sm shadow-black md:order-2 md:w-2/5 md:shrink-1"
			>
				<Image
					src={SiteConfig.logo}
					width={512}
					height={512}
					alt="Place Holder"
					loading="eager"
					class="block w-full object-cover"
				/>
			</picture>
			<section class="md:order-1 md:w-1/2 md:shrink-0">
				<h1>!Hi Welcome...</h1>

				<em> Tempat saya mencatat perjalanan belajar sebagai programmer otodidak. </em>
				<p>
					Blog ini berisi catatan belajar saya dalam bidang JavaScript, Python, dan teknologi web.
					Saya juga menulis hal-hal yang saya pelajari seputar matematika dasar dan bahasa Inggris.
					Semua catatan ditulis dengan gaya santai dan apa adanya. Kalau kamu juga belajar hal yang
					sama, semoga bisa jadi teman belajar yang menyenangkan.
				</p>
			</section>
		</header>

		<main class="mx-auto max-w-5xl px-3.5">
			<FeaturedNotes items={newProjects} heading="Last Projects" type="projects" />
			<FeaturedNotes items={newPosts} heading="New Notes" />
			<FeaturedNotes items={lastUpdate} heading="Last Update" />
		</main>
	</Prose>
</Base>
