---
import Search from 'astro-pagefind/components/Search'
import Layout from '../layouts/Layout.astro'
import FeaturedNotes from '../components/FeaturedNotes.astro'
import ListNotes from '../components/ListNotes.astro'
import TagCloud from '../components/TagCloud.astro'

const meta = {
	title: 'Notes',
	description: `Pernah nggak sih kalian bertanya-tanya, kenapa nasi goreng di warung pinggir jalan itu bisa seenak itu? 🤔 Aku sudah mencoba berbagai resep dari seluruh penjuru dunia—dari dapur rumah sampai dapur YouTube—tapi tetap saja rasanya belum nendang!`
}
---

<Layout meta={meta}>
	<header>
    <h1>Sedang Mencari Resep!</h1>
    <FeaturedNotes />
		<TagCloud />
		<p>
			Pernah nggak sih kalian bertanya-tanya, kenapa nasi goreng di warung pinggir jalan itu bisa
			seenak itu? 🤔 Aku sudah mencoba berbagai resep dari seluruh penjuru dunia—dari dapur rumah
			sampai dapur YouTube—tapi tetap saja rasanya belum nendang!
		</p>
		<p>
			Apakah ini hasil latihan bertahun-tahun? Atau… mungkinkah ada campur tangan makhluk halus? 👻 <br
			/>Entahlah. Tapi satu yang pasti: pencarian ini belum selesai!
		</p>
	</header>
	<main class="mt-14">
    <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
		<ListNotes />
	</main>
	<style is:inline>
		.pagefind-ui {
			--pagefind-ui-scale: 0.75;
			--pagefind-ui-primary: rgb(210, 210, 210);
			--pagefind-ui-text: rgb(255, 255, 255);
			--pagefind-ui-border: rgb(52, 52, 52);
			--pagefind-ui-border-width: 1px;
			--pagefind-ui-border-radius: 0.25rem;
			--pagefind-ui-font: sans-serif;
			--pagefind-ui-background: rgb(27, 27, 27);
			width: 100%;
		}
		.pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
			position: absolute;
			left: 0;
			right: 0;
			margin-top: 0px;
			z-index: 9999;
			padding: 0 2em 1em;
			overflow-y: auto;
			box-shadow:
				0 10px 10px -5px rgb(41, 41, 41),
				0 2px 2px 0 rgba(0, 0, 0, 0.1);
			border-bottom-right-radius: var(--pagefind-ui-border-radius);
			border-bottom-left-radius: var(--pagefind-ui-border-radius);
			background-color: var(--pagefind-ui-background);
		}
		.pagefind-ui .pagefind-ui__result-link {
			color: var(--pagefind-ui-primary);
		}

		.pagefind-ui .pagefind-ui__result-excerpt {
			color: var(--pagefind-ui-text);
		}
	</style>
</Layout>
