---
import Base from '../layouts/Base.astro'
import Prose from '../components/Prose.astro'
import FeaturedNotes from '../components/FeaturedNotes.astro'

import { getCollection } from 'astro:content'

const getAllPosts = await getCollection('vaults')
const allNotes = getAllPosts
	.filter((i) => i.data.type !== 'Projects')
	.sort((a, b) => new Date(b.data.date || 0).getTime() - new Date(a.data.date || 0).getTime())
---

<Base>
	<Prose>
		<header class="mx-auto mt-40 max-w-5xl px-3.5">
			<h1>Sedang Mencari Resep!</h1>

			<section>
				<p>
					Pernah nggak sih kalian bertanya-tanya, kenapa nasi goreng di warung pinggir jalan itu
					bisa seenak itu? 🤔 Aku sudah mencoba berbagai resep dari seluruh penjuru dunia—dari dapur
					rumah sampai dapur YouTube—tapi tetap saja rasanya belum nendang!
				</p>
				<p>
					Apakah ini hasil latihan bertahun-tahun? Atau… mungkinkah ada campur tangan makhluk halus?
					👻 Entahlah. Tapi satu yang pasti: pencarian ini belum selesai!
				</p>
			</section>
		</header>
		<main class="mx-auto mt-20 max-w-5xl px-3.5">
			<FeaturedNotes items={allNotes} heading="All Notes" withClock={false} />
		</main>
	</Prose>
</Base>
