---
import BaseLayouts from "../layouts/BaseLayouts.astro";
const meta ={
  title: "Project",
  description: "Sint sint do enim consequat dolore aliquip exercitation deserunt aliqua do culpa duis nostrud.",
}
---
<BaseLayouts meta={meta}>
  <h1>Hello Project</h1>
</BaseLayouts>