---
import { Icon } from 'astro-icon/components'

interface Badge {
	href?: string | null
	label?: string | null
	className?: string
	classNameIcon?: string
}

const { href = null, className = '' } = Astro.props as Badge
---

{
	href ? (
		<a href={href} class={`badge ${className}`}>
			<slot />
		</a>
	) : (
		<span class={`badge ${className}`}>
			<slot />
		</span>
	)
}

<style is:global>
	@reference "tailwindcss";

	.badge {
		@apply inline-flex w-fit cursor-pointer items-center gap-1.5 rounded-full border border-neutral-700 bg-neutral-800 px-4 py-2 font-bold shadow-sm shadow-black transition-colors duration-300 text-shadow-black text-shadow-sm hover:bg-neutral-700 hover:text-white;
	}
</style>
