---
const {customClass, href, title, ...rest} = Astro.props

const className = ``
const classes = `${className} ${customClass ? customClass : ''}`
---

{
  !href ? (
    <span class={classes} {...rest}>
      {!title ? <slot /> : title }
    </span>
  ) : (
    <a href={href} class={classes} {...rest}>
      {!title ? <slot /> : title }
    </a>
  )
}