<footer
	class="mt-10 flex flex-col items-center justify-between border-t border-neutral-700 px-2.5 py-10 text-sm md:flex-row"
>
	<p>
		© {new Date().getFullYear()} · <strong>Putra Jaya</strong> · All rights reserved. | <a
			href="/disclaimer"
			class="text-blue-500">Disclaimer</a>
	</p>

	<p>Generate Using: <a href="https://astro.build/" class="text-blue-500">{Astro.generator}</a></p>
</footer>
