---
import Brand from './Brand.astro'
import { Icon } from 'astro-icon/components'
---

<div
  class="fixed top-0 z-30 flex h-16 w-full items-center justify-between border-b border-neutral-600 bg-neutral-800 px-4 shadow-sm shadow-black lg:hidden"
>
  <Brand />
  <button class="text-white" data-sidebar="sidebar">
    <Icon name="icon-bar-3" class="size-7" />
  </button>
</div>
