---
import { Icon } from 'astro-icon/components'

import Brand from './Brand.astro'
---

<div
	class="fixed top-0 left-0 z-30 flex h-20 w-full items-center justify-between border-b-2 border-b-neutral-700 bg-neutral-900 px-5 py-4 shadow-lg shadow-black/30 lg:hidden"
>
	<Brand />

	<button onclick="sidebarOpen()" class="text-neutral-300 hover:text-neutral-50">
		<Icon name="icon-bar-3" class="size-8" title="Open Sidebar" />
	</button>
</div>
