---
import { Icon } from 'astro-icon/components'
import Brand from './Brand.astro'
---

<div
	class="fixed top-0 left-0 z-30 flex h-16 w-full items-center justify-between border-b border-neutral-700 px-5 shadow-sm shadow-black/80 backdrop-blur-2xl lg:hidden"
>
	<Brand />
	<button onclick="sidebarOpen()">
		<Icon name="icon-bar-3" class="size-7" />
	</button>
</div>
