---
import { Icon } from "astro-icon/components";
import Brand from "./Brand.astro";
---
<div class="fixed left-0 top-0 z-30 flex h-16 w-full items-center justify-between border-b-2 border-neutral-900 px-5 py-1.5 shadow-sm shadow-black backdrop-blur-sm lg:hidden">
  <Brand />

  <button onclick="openSidebar()" class="flex items-center">
    <Icon name="icon-bar-3" class="size-8" />
  </button>
</div>