---
import { MENUS } from '../siteConfig'
import { Icon } from 'astro-icon/components'

import Brand from './Brand.astro'
const menu = MENUS.main
---

<nav
	class="fixed top-0 left-0 h-16 w-full px-5 shadow-sm shadow-black/60 backdrop-blur-2xl lg:h-24"
>
	<div class="m-auto flex h-full max-w-6xl items-center justify-between">
		<Brand />

		<button onclick="toggleDropDown()" class="lg:hidden">
			<Icon name="icon-bar-3" class="size-7" />
		</button>

		<div
			id="dropDown"
			class="-tranneutral-y-2 lg:tranneutral-none invisible absolute top-20 right-5 flex flex-col gap-2 rounded-lg bg-neutral-950/80 p-4 opacity-0 shadow-md shadow-black/60 backdrop-blur-2xl transition-all duration-300 ease-in-out lg:visible lg:relative lg:top-0 lg:flex-row lg:gap-5 lg:bg-transparent lg:opacity-100 lg:shadow-none"
		>
			{
				menu.map((i) => {
					const path = Astro.url.pathname
					const isActive = path === i.url || (i.url !== '/' && path.startsWith(i.url))
					const className = `text-lg hover:text-white font-semibold lg:text-xl ${isActive ? 'text-white' : 'text-neutral-400'}`

					return (
						<a href={i.url} class={className}>
							{i.label}
						</a>
					)
				})
			}
		</div>
	</div>
</nav>

<!-- STYLES CUSTOM -->
<style is:inline>
	.show {
		opacity: 1 !important;
		visibility: visible !important;
	}
</style>
<script is:inline>
	function toggleDropDown() {
		document.getElementById('dropDown').classList.toggle('show')
	}
</script>
