---
// src > components > Navigation.astro
import { Icon } from 'astro-icon/components'

const { menu } = Astro.props

const activeClass = ''
const className = ''
---

<ul class="">
  {
    menu.map(item => {
      const isActive =
        Astro.url.pathname === item.url ||
        (item.url !== '/' && Astro.url.pathname.startsWith(item.url))

      return (
        <li>
          <a
            href={item.url}
            class={`${className} ${isActive ? activeClass : ''}`}
          >
            <Icon name={item.icon} />
            {item.name}
          </a>
        </li>
      )
    })
  }
</ul>
