---
---
<aside class="offcanvas" id="offcanvas">

  <div class="search">
    <div class="search__form">
      <label for="search" class="search__label">Search</label>
      <input type="text" name="search" id="search" class="search__input">
      <button class="search__button">
        <!-- Icon Here -->
      </button>
    </div>
    <ul class="search__results" id="results"></ul>
  </div>
  
  <nav class="menu">
    <ul class="menu__list">
      <!-- LOOP HERE -->
    </ul>
  </nav>

</aside>