---
const {className = ''} = Astro.props
---

<div
	class=`prose prose-invert prose-neutral min-w-full max-w-full text-[14px] leading-relaxed font-normal md:text-[15px] prose-a:text-blue-300 ${className}`
>
	<slot />
</div>
