---
import { Icon } from 'astro-icon/components'
import Brand from './Brand.astro'
import Navigation from './Navigation.astro'

import { siteConfig } from '../siteConfig'

const MENU_MAIN = siteConfig.menus.main
const MENU_SOCIAL = siteConfig.menus.social
const MENUS = [MENU_MAIN, MENU_SOCIAL]
---

<div
	id="overlay"
	onclick="sidebarClose()"
	class="invisible fixed z-40 h-dvh w-dvw opacity-0 backdrop-blur-sm transition-all duration-300"
>
</div>

<nav
	id="sidebar"
	class="invisible fixed top-0 left-0 z-50 grid h-dvh w-80 -translate-x-full grid-rows-[auto_minmax(0,1fr)_auto] border-r-2 border-neutral-700 px-5 py-1 opacity-0 shadow-lg shadow-black/80 backdrop-blur-3xl transition-all duration-500 lg:visible lg:sticky lg:translate-0 lg:opacity-100 lg:shadow-none lg:backdrop-blur-none"
>
	<header class="mt-1 mb-3.5 flex items-center justify-between py-2.5">
		<Brand />
		<button onclick="sidebarClose()" class="lg:hidden">
			<Icon name="icon-x-mark" class="size-6" />
		</button>
	</header>
	{MENUS.map((item) => <Navigation menu={item} />)}
</nav>

<script is:inline>
	const sidebar = document.getElementById('sidebar')
	const overlay = document.getElementById('overlay')

	function sidebarClose() {
		sidebar.classList.add('-translate-x-full', 'opacity-0', 'invisible')
		overlay.classList.add('opacity-0', 'invisible')
	}

	function sidebarOpen() {
		sidebar.classList.remove('-translate-x-full', 'opacity-0', 'invisible')
		overlay.classList.remove('opacity-0', 'invisible')
	}
</script>
