---
// src > components > Sidebar.astro
import Brand from './Brand.astro'
import Navigation from './Navigation.astro'
import Button from "./Button.astro"

import { MENUS } from '../siteConfig'
const main = MENUS.main
const social = MENUS.social

import { Icon } from 'astro-icon/components'
---

<nav id="sidebar">
  <div>
    <Brand />
    <Button data-sidebar="sidebar" aria-label="Close Sidebar">
      <Icon name="icon-x-mark" />
    </Button>
  </div>
  <Navigation menu={main} />
  <Navigation menu={social} />
</nav>
