---
import { Icon } from 'astro-icon/components'
import Brand from './Brand.astro'
import Navigation from './Navigation.astro'

import { siteConfig } from '../siteConfig'

const MENU_MAIN = siteConfig.menus.main
const MENU_SOCIAL = siteConfig.menus.social
const MENUS = [MENU_MAIN, MENU_SOCIAL]
---

<div
  id="overlay"
  onclick="sidebarClose()"
  class="fixed w-dvw h-dvh backdrop-blur-sm transition-all duration-300 z-40 opacity-0 invisible"
>
</div>

<nav
  id="sidebar"
  class="grid grid-rows-[5rem_minmax(0,1fr)_auto] fixed top-0 left-0 p-5 z-50 h-dvh w-80 border-r-2 border-neutral-700 backdrop-blur-3xl transition-all duration-500 -translate-x-full opacity-0 invisible"
>
  <header class="relative">
    <Brand />
    <button onclick="sidebarClose()">
      <Icon name="icon-x-mark" class="size-6 absolute top-4 right-4" />
    </button>
  </header>
  {MENUS.map(item => <Navigation menu={item} />)}
</nav>

<script is:inline>
  const sidebar = document.getElementById('sidebar')
  const overlay = document.getElementById('overlay')

  function sidebarClose() {
    sidebar.classList.add('-translate-x-full', 'opacity-0', 'invisible')
    overlay.classList.add('opacity-0', 'invisible')
  }

  function sidebarOpen() {
    sidebar.classList.remove('-translate-x-full', 'opacity-0', 'invisible')
    overlay.classList.remove('opacity-0', 'invisible')
  }
</script>
