<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body>
    <div class="isolation">
      <aside class="sidebar" id="sidebar">
        {{ partial "layouts/sidebar.html" . }}
      </aside>

      <div class="main">
        <header class="main__header">
          {{ partial "layouts/header.html" . }}
        </header>
        <main class="main__content">
          {{ block "main" . }}{{ end }}
        </main>
        <footer class="main__footer">
          {{ partial "layouts/footer.html" . }}
        </footer>
      </div>

      <div class="loading" id="layoutLoading">
        {{ partial "components/loading.html" . }}
      </div>
    </div>
  </body>
</html>
