<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head/head.html" . }}
  </head>
  <body>
    {{ partial "layouts/profile.html" . }}
    {{ partial "layouts/navbar" . }}
    <main class="main">{{ block "main" . }}{{ end }}</main>
    <footer class="footer">{{ partial "layouts/footer.html" . }}</footer>
    <div style="display: none;">
      {{ partial "layouts/loading.html" . }}
    </div>
  </body>
</html>
