<nav class="navbar">
  <ul class="nav" id="menuButton">
    <li class="nav__item">
      <button class="btn btn--icon btn--tooltip" data-sidebar="sidebar">
        <i class="bi bi-list btn__icon"></i>
        <span class="btn__text">Toggle Sidebar</span>
      </button>
    </li>
    <li class="nav__item">
      <button class="btn btn--icon btn--tooltip" id="switchTheme">
        <i class="bi bi-moon-stars btn__icon"></i>
        <span class="btn__text">Switch Themes</span>
      </button>
    </li>
    <li class="nav__item">
      <button class="btn btn--icon btn--tooltip" data-modal="searchBar">
        <i class="bi bi-search btn__icon"></i>
        <span class="btn__text">Search</span>
      </button>
    </li>
  </ul>

  {{ partial "components/menu.html" (dict "menuID" "main" "page" .) }}
  
  <ul class="nav" id="menuAnchor">
    {{ range site.Menus.anchor }}
      <li class="nav__item">
        <a href="{{ .URL | relURL }}" data-anchor="{{ .URL | relURL }}" class="btn btn--icon btn--tooltip" aria-label="{{ .Name }}">
          <i class="bi {{ with .Params.icon }}{{ . }}{{ end }} btn__icon"></i>
          <span class="btn__text">{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</nav>