<figure class="profile">
  <picture class="profile__picture">
    <img src="{{ site.Params.logo | relURL }}" alt="{{ site.Params.author | title }}" class="profile__image">
  </picture>
  <figcaption class="profile__caption">
    <strong class="profile__title">{{ site.Params.author | title }}</strong>
    <em class="profile__tagline">Im a <span id="tagline" data-taglines="{{ site.Params.tagline | jsonify }}">Example Tagline</span></em>
    <blockquote class="profile__description">{{ site.Params.description }}</blockquote>
    <div class="profile__social">
      {{ range site.Menus.social }}
        <a href="{{ .URL | relURL }}" class="btn btn--icon btn--tooltip btn--social" aria-label="{{ .Name }}">
          <i class="bi {{ with .Params.icon }}{{ . }}{{ end }} btn__icon"></i>
          <span class="btn__text">{{ .Name | title }}</span>
        </a>
      {{ end }}
    </div>
  </figcaption>
</figure>

<script defer>
  const tagline = document.getElementById(id).dataset.tagline
  console.log(tagline)
</script>