---
import '../styles/global.css'
import Sidebar from '../components/Sidebar.astro'
import MobileNav from '../components/MobileNav.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-['Noto_Sans'] text-base bg-neutral-900 text-neutral-200 lg:grid lg:grid-cols-[310px_minmax(0,1fr)]">
    <Sidebar />
    <div class="px-5">
      <slot />
    </div>
    <MobileNav />
  </body>
</html>

<style is:global>
  html {
    scrollbar-width: thin;
  }
</style>