---
import '../styles/global.css'

import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<html
	lang="id"
	class="bg-radial-[at_25%_25%] from-neutral-800 to-neutral-950 to-75% font-[Noto_Sans,var(--font-serif)] text-neutral-200"
>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body class="min-h-dvh max-w-dvw overflow-x-hidden">
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
