---
// src > layouts > BaseLayout.astro
import '../styles/global.css'

import Sidebar from '../components/Sidebar.astro'
import MobileHeader from '../components/MobileHeader.astro'
import Headed from '../components/Headed.astro'
---

<html lang="en">
  <Headed {...Astro.props} />
  <body>
    <Sidebar />
    <slot />
  </body>
</html>
