---
import Headed from '../components/Headed.astro'
import Sidebar from '../components/Sidebar.astro'
import MobileHeader from '../components/MobileHeader.astro'
import Footer from '../components/Footer.astro'

import '../styles/global.css'
---

<html lang="id" class="bg-neutral-900 font-[Noto_Sans,var(--font-sans)] text-neutral-300">
	<Headed {...Astro.props} />
	<body class="lg:grid lg:grid-cols-[320px_minmax(0,1fr)]">
		<Sidebar />
		<MobileHeader />
		<div>
			<slot />
			<Footer />
		</div>
	</body>
</html>
