---
import Headed from '../components/Headed.astro'
import Sidebar from '../components/Sidebar.astro'
import MobileHeader from '../components/MobileHeader.astro'
import Footer from '../components/Footer.astro'

import '../styles/global.css'
---

<html
  lang="id"
  class="font-[Noto_Sans,var(--font-sans)] bg-neutral-950 text-[14px] text-neutral-300 md:text-[15px] lg:text-[16px] 2xl:text-[18]"
>
  <Headed {...Astro.props} />
  <body>
    <Sidebar />
    <MobileHeader />
    <div>
      <slot />
      <Footer />
    </div>
  </body>
</html>
