---
// src > layouts > Home.astro
import { getCollection } from "astro:content";

const allProjects = await getCollection('projects')
const project = allProjects.map(item =>{
  return {
    ...item.data,
    url: `${item.collection}/${item.id}`
  }
})
---
<ul>
  {
    project.map(item =>(
      <li>
        <a href={item.url}>{item.title}</a>
      </li>
    ))
  }
</ul>