---
import '../styles/global.css'
import Footer from './Footer.astro'

import Headed from "./Headed.astro"
import Header from './Header.astro'
import Sidebar from './Sidebar.astro'

const { href, activeLink } = Astro.props
---

<html lang="id" class="bg-zinc-900 text-zinc-300 text-[15px] font-sans">
	<head>
		<Headed />
	</head>
	<body class="grid lg:grid-cols-[20%_minmax(0,1fr)]">
    <Sidebar />
    <div class="max-w-full">
      <Header href={href} activeLink={activeLink} />
      <main class="border border-zinc-800">
        <article class="markdown px-5 lg:px-10">
          <slot />
        </article>
      </main>
      <Footer />
    </div>
    <script>
      import '../components/script/sidebar'
    </script>
	</body>
</html>
